body {
    /* background-image: url('../../img/images1.jpg'); */
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
  }
 
.ForgotPasswordPage {
    /* Add your specific styles for the ForgotPasswordPage here */
    margin: 100px auto;
    padding: 20px;
    width: 700px;
    /* border: 1px solid #000000; */
    /* text-align: center;  */
    /* Center align text */
  }
  
  .AppHeader {
    margin-bottom: 20px;
  }
  
  .AppHeader h1 {
    font-size: 44px;
    margin-bottom: 100px;
    
  }
  
  .AppHeader p {

    color: hsl(0, 84%, 59%);
    font-size: 14px;
    margin-top: 0px;
  }
  
  .ForgotPasswordPage h2 {
    /* Add specific styles for the h2 heading in ForgotPasswordPage */
    color: #333;

  }
  
  .ForgotPasswordPage form {
    /* Add specific styles for the form in ForgotPasswordPage */
    margin-top: 40px;
  }
  
  .ForgotPasswordPage label {
    /* Add specific styles for the label in ForgotPasswordPage */
    display: block;
    margin-bottom: 8px;
    
  }
  
  .ForgotPasswordPage input {
    /* Add specific styles for the input in ForgotPasswordPage */
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 12px;
    margin-left: 8px;
  }
  
  .ForgotPasswordPage button {
    /* Add specific styles for the button in ForgotPasswordPage */
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ForgotPasswordPage button:hover {
    /* Add specific styles for the button on hover in ForgotPasswordPage */
    background-color: #45a049;
  }
  